.portfolio{
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    .portfolio-title{
        margin: 65px auto;
        font-size: 60px;
    }
    .portfolio-container{
        
        // .portfolio-cards{
        //     margin: 10px;
        //     display: flex;
        //     .cards-items{
        //         width: 350px;
        //         margin-left: 60px;
        //     }
        // }
    }
}