.portfolio{
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .portfolio-title{
        margin: 65px auto;
        font-size: 60px;
    }
    .bottom-btn3{
        position: absolute;
        left: 49%;
        bottom: 10px;
        img{
            width: 30px;
            animation: arrowBlink 2s infinite;
        }
        @keyframes arrowBlink {
            100%{
                opacity: 0;
            }
        }
    }
}