.skills{
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    .skills-title{
        margin: 85px auto;
        font-size: 60px;
    }
    .skills-container{
        margin: 0 auto;
        display: flex;
        .skills-back{
            margin-left: 70px;
            border-radius: 20px;
            min-width: 200px;
            min-height: 200px;
            background-color: aliceblue;
            .skills-icons{
                display: block;
                margin: 10px auto;
                height: 180px;
                object-fit: cover;
            }
            // &:hover{
            //     min-width: 240px;
            //     min-height: 240px;
            // }
        }
    }
    .skills-container2{
        margin: 70px auto;
        display: flex;
        .skills-back{
            margin-left: 60px;
            border-radius: 20px;
            min-width: 200px;
            min-height: 200px;
            background-color: aliceblue;
            .skills-icons{
                display: block;
                margin: 10px auto;
                height: 180px;
                object-fit: cover;
            }
        }
    }
}