.skills{
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    .skills-title{
        margin: 60px auto;
        font-size: 60px;
    }
    .skills-container{
        margin: 0 auto;
        .skills-back{
            display: flex;
            border-radius: 20px;
            min-width: 1200px;
            height: 62vh;
            background-color: aliceblue;
            img{
                height: 150px;
            }
        }
    }
}