.about{
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    .about-title{
        margin: 90px auto;
        .about-title{
            font-size: 50px;
        }
    }
    .about-container{
        display: flex;
        justify-content: center;
        .about-profile{
            height: 350px;
        }
        .about-right{
            margin-left: 60px;
        }
    }
}