@import "../../global.scss";

.about{
    background-color: #FFE5E5;
    display: flex;
    flex-direction: column;
    position: relative;
    .about-title{
        margin: 60px auto;
        .about-title-text{
            font-size: 60px;
        }
        svg{
            font-size: 42px;
        }
    }
    .about_slider{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 400px;
        margin-bottom: 20px;
        .about_button_wrap{
            position: absolute;
            width: 700px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left-arrow{
                cursor: pointer;
                font-size: 40px;
            }
            .right-arrow{
                cursor: pointer;
                font-size: 40px;
            }
        }
        .about_slider_container{
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                background-size: contain;
                -webkit-user-select:none;
                -moz-user-select:none;
                -ms-user-select:none;
                user-select:none
             }
        }
    }
    .about-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .about-center{
            .center-container{
                display: flex;
                flex-wrap: wrap;
                gap:20px;
                margin: 0 auto;
                max-width: 460px;
                padding-top: 20px;
                .center-container-items{
                    flex: 1 1 40%;
                    margin: 0 auto;
                    .items-content{
                        display: flex;
                        .direction{
                            margin-left: 7px;
                            display: block;
                            p{
                                font-size: 24px;
                                font-weight: 600;
                                margin-bottom: 10px;
                                margin-top: 2px;
                            }
                        }
                        
                    }
                }
            }
        }   
        .download-btn{
            margin: 15px 0 0 10px;
            border-radius: 12px;
            border: none;
            width: 140px;
            height: 45px;
            font-size: 21px;
            color : white;
            background-color: #6768ab;
            cursor: pointer;
            &:hover{
                margin-top: 10px;
                margin-left: 5px;
                font-size: 25px;
                font-weight: 500;
                width: 160px;
                height: 55px;
            }
        }
        .right-about{
            .right-mg{
                margin-bottom: 15px;
                font-weight: 500;
                font-size: 27px;
            }
        }
    }
    .bottom-btn2{
        position: absolute;
        left: 49%;
        bottom: 10px;
        img{
            width: 30px;
            animation: arrowBlink 2s infinite;
        }
        @keyframes arrowBlink {
            100%{
                opacity: 0;
            }
        }
    }
}

@include tab{
    .about{
        .about-title{
            margin: 50px auto;
            .about-title-text{
                font-size: 50px;
            }
            svg{
                font-size: 36px;
            }
        }
        .about-container{
            .right-about{
                .right-mg{
                    margin-bottom: 13px;
                    font-weight: 400;
                    font-size: 24px;
                }
            }
        }  
        .about_slider{
            .about_button_wrap{
                width: 550px;
            }
            .about_slider_container{
                overflow: hidden;
            }
        }
    }
}

@include mobile{
    .about{
        .about-title{
            margin: 40px auto;
            .about-title-text{
                font-size: 40px;
            }
            svg{
                font-size: 32px;
            }
        }
        .about-container{
            padding: 20px;
            .right-about{
                .right-mg{
                    margin-bottom: 12px;
                    font-weight: 400;
                    font-size: 20px;
                }
            }
        }
        .about_slider{
            .about_button_wrap{
                width: 100%;
            }
            .about_slider_container{
                overflow: hidden;
            }
        }
    }
}