@import "../../global.scss";

.intro{
    background-color:#ffffff;
    display: flex;
    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    .left{
        flex: 0.5;
        width: 900;
        height: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: right;
        img{
            // border-radius: 50%;
            margin-right: 20px;
            height: 55%;
            background-size: cover;
            @include mobile {
                margin-top: 30px;
                height: 90%;
            }
        }
        
    }
    .right{
        flex: 0.5;
        display: flex;
        margin-left:23px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        .bigTitle{
            font-size: 60px;
            overflow: hidden;
            span{
                position: relative;
            }
            span::after{
                content:"";
                position: absolute;            
                left: 0;
                height: 100%;
                width: 100%;
                background-color: white;
                border-left: 2px solid black;
                animation: typing 2.7s steps(19) 1;
                animation-fill-mode: forwards;
            }
            @keyframes typing {
                100%{
                    left:100%;
                    margin: 0 -35px 0 35px;
                }
            }
        }
        .smallTitle{
            overflow: hidden;
            font-size: 35px;
            span{
                position: relative;
            }
            span::after{
                content:"";
                position: absolute;            
                left: 0;
                height: 100%;
                width: 100%;
                background-color: white;
                border-left: 2px solid black;
                animation: typing 3s steps(24) 1;
                animation-fill-mode: forwards;
            }
            @keyframes typing {
                100%{
                    left:100%;
                    margin: 0 -35px 0 35px;
                }
            }
        }
        .description{
            overflow: hidden;
            font-size: 20px;
            margin-top: 1px;
        }
        span{
            position: relative;
        }
        span::after{
            content:"";
            position: absolute;            
            left: 0;
            height: 100%;
            width: 100%;
            background-color: white;
            border-left: 2px solid black;
            animation: typing 3.5s steps(50) 1;
            animation-fill-mode: forwards;
        }
        @keyframes typing {
            100%{
                left:100%;
                margin: 0 -35px 0 35px;
            }
        }
    }
    .bottom-btn{
        position: absolute;
        bottom: 10px;
        left: 49%;
        img{
            width: 30px;
            animation: arrowBlink 2s infinite;
        }
    }
    
}




@media (max-width: 768px) {
    .intro{
        .right{
            justify-content: flex-start;
            .bigTitle{
                font-size: 50px;
            }
            .smallTitle{
                font-size: 28px;
            }
            .description{
                font-size: 24px;
            }
        }
    }
}