@import "../../global.scss";

.intro{
    background-color:#ffffff;
    display: flex;
    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    .left{
        flex: 0.5;
        width: 900;
        height: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: right;
        img{
            height: 62%;
            background-size: cover;
            @include mobile {
                margin-top: 30px;
                height: 90%;
            }
        }
        
    }
    .right{
        flex: 0.5;
        display: flex;
        margin-left:23px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        @include mobile {
            justify-content:center;
        }
        h1{
            font-size: 60px;
            @include mobile {
                font-size: 40px;
                margin: 2px 0;
            }
        }
        h2{
            font-size: 35px;
            @include mobile {
                font-size: 23px;
            }
        }
        .description{
            font-size: 20px;
            margin-top: 1px;
            @include mobile {
                font-size: 15px;
            }
        }
    }
    a{
        position: absolute;
        bottom: 10px;
        left: 50%;
        img{
            width: 30px;
            animation: arrowBlink 2s infinite;
        }
        @keyframes arrowBlink {
            100%{
                opacity: 0;
            }
        }
    }
    
}