@import "../../global.scss";

.gallery{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    overflow: hidden;
    width: 100%;
    .right-arrow{
        position: absolute;
        top:50%;
        right:5px;
        font-size: 44px;
        color : #000;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
    .left-arrow{
        position: absolute;
        top:50%;
        left:5px;
        font-size: 44px;
        color : #000;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
    .slide {
        opacity: 0;
        transition-duration: 1s ease;
    }
    .slide.active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
    }
    
    
    .images{
        height: 550px;
        width: 780px;
        border-radius: 10px;
        cursor: pointer;
    }
    .desc{
        height: 554px;
        width: 780px;
        opacity: 0.65;
        background-color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
        transition:all 0.5s;
    }
    .none{
        transform: scaleY(1);
    }
    .desc-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        width: 100%;
        height: 100%;
        h3{
            font-size: 54px;
            margin: 25px auto;
            color:#ecf0f1;
        }
        p{
            
            font-size: 18px;
            color: #ecf0f1;
            padding: 10px 90px 0 90px;
        }
        button{
            display: block;
            margin: 30px auto;
            background-color: #ecf0f1;
            border: none;
            border-radius: 20px;
            height: 40px;
            width: 120px;
            font-size: 22px;
            cursor: pointer;
        }
    }
}

@include tab{
    .gallery{
        width: 600px;
        height: 400px;
        .images{
            width: 100%;
            height: 100%;
        }
        .right-arrow{
            font-size: 34px;
        }
        .left-arrow{
            font-size: 34px;
        }
        .desc{
            height: 100%;
            width: 100%;
            .desc-container{
                h3{
                    margin: 15px auto;
                }
                p{
                    display: none;
                }
            }
        }
    }
}

@include mobile{
    .gallery{
        width: 380px;
        height: 280px;
        .images{
            width: 100%;
            height: 100%;
        }
        .right-arrow{
            font-size: 24px;
        }
        .left-arrow{
            font-size: 24px;
        }
        .desc{
           height: 100%;
            width: 100%;
            .desc-container{
                h3{
                    margin: 10px auto;
                }
                p{
                    display: none;
                }
            }
        }
    }
}

